label {
  @apply block font-bold mb-2
}


.form-input {
  @apply w-full rounded-2 p-4 border border-neutral-40 focus-visible:shadow-input focus-visible:outline-primary-100 focus-visible:outline-1;
}

.form-input::placeholder {
  @apply text-neutral-60
}

.form-select {
  @apply w-full rounded-2 p-4 border border-neutral-40 block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  &:after {
    content: '123';
    // width: 14px;
    // height: 8px;
    position: absolute;
    right: 20px;
    top: 41%;
    background: url('/public/svg/arrow-down.svg') no-repeat center;
    pointer-events: none;
  }
}


input[type=checkbox] {
  display: none;
}

input[type="checkbox"]+span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 4px;
  background: #fff;
  user-select: none;
  margin-right: 8px;
}

input[type="checkbox"]:checked+span {
  background: #BF9D7D;
}