.form-input {
  @apply w-full rounded-2 p-4 border border-neutral-40 focus-visible:shadow-input focus-visible:outline-primary-100 focus-visible:outline-1;
}

.form-input::placeholder {
  @apply text-neutral-60
}

.form-select {
  @apply border border-neutral-40;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}