// home-banner
// home-rooms
// hoem-culinary 佳餚美饌

.home-banner,
.room-list-swiper {
  .swiper-pagination-bullet{
    width: 32px;
    border-radius: 2px;
    height: 4px;
    background: #fff;
    opacity: 1;
  }

  .swiper-pagination-bullet-active{
    width: 60px;
    background: #BF9D7D;
  }
}

.room-list-swiper {
  .swiper-button-next:after,
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: '';
  }
}