// home-banner
// home-rooms
// hoem-culinary 佳餚美饌

.home-banner,
.room-list-swiper {
  .swiper-pagination-bullet{
    width: 32px;
    border-radius: 2px;
    height: 4px;
    background: #fff;
    opacity: 1;
  }

  .swiper-pagination-bullet-active{
    width: 60px;
    background: #BF9D7D;
  }
}

<<<<<<< HEAD
.swiper-button-prev {
  width: 56px !important;
  height: 56px !important;
  border-radius: 28px;
  background: white!important;
  margin-left: 0px !important;
  &::after {
    color: #4B4B4B !important;
    font-size: 16px !important;
    font-weight: bold;
  }
}
.swiper-button-next {
  width: 56px !important;
  height: 56px !important;
  border-radius: 28px;
  background: white!important;
  margin-right: 0px !important;
  &::after {
    color: #4B4B4B !important;
    font-size: 16px !important;
    font-weight: bold;
=======
.room-list-swiper {
  .swiper-button-next:after,
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: '';
>>>>>>> upstream
  }
}