// pagination
.home-banner,
.room-list-swiper,
.home-room-swiper-content {
  .swiper-pagination-bullet{
    width: 32px;
    border-radius: 2px;
    height: 4px;
    background: #fff;
    opacity: 1;
    transition: .3s ease;
  }

  .swiper-pagination-bullet-active{
    width: 60px;
    background: #BF9D7D;
  }
}

// navigation
.room-list-swiper,
.home-food-swiper,
.home-room-swiper-navigation {
  .swiper-button-next:after,
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    content: '';
  }
}

.home-food-swiper {
  &-navigation{
    position: absolute;
    bottom: 0;
    right: 0;
    // display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    margin-right: 40px;
  }
  .swiper-button-prev{
    order: 1;
  }
}